<div class="row">
    <h1>Users</h1>

    <hr/>
    <div class="row">
        <div class="col-mod-9 col-md-offset-1">
            <input type="text" placeholder="type to filter here" class="input-lg form-control" ng-model="txtFilter" />
        </div>
        <br/>
        <br/>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Postal</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tr ng-repeat="a in users|filter:txtFilter">
                <td>{{a.Id}}</td>
                <td>{{a.Name}}</td>
                <td>{{a.Address}}</td>
                <td>{{a.Postal}}</td>
                <td>{{a.Email}}</td>
            </tr>
        </table>
    </div>
</div>